
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 2px;
}

/* NAVBAR */

.navbar{
    background-color: #c0a883;
    width: 100%;
    height: 85px;
}

.navbar_logotipo {
    text-align: center;
    padding: 5px;
}

/* -------------------------------------------------------------------------------- */


/* HEADER */

.header{
   background-image: url("./img/backgroud-header.jpg");
   background-size:cover;
    background-repeat: no-repeat;
    min-width:80vh;
    width: 100%;
    height: 500px;
    color: #bba687;
}

.container-header{
    width: 100%;
    height:100%;
    display: flex;
    padding: 30px;
    flex-direction: column;
}

.header-maravilhosa-img {
    
    width: 100%;
    height: 220px;
    margin-left: 20px;
    margin-top: 50px;
}
/*.header-container-img{
    width: 500px;
    height: 380px;
    position: absolute;
    top: 30%;
    left: 40%;}*/


.header-maravilhosa-img{
    width: 90%;
    height: 220px;
    margin-left: 20px;
    margin-top: 50px;
}

.header-titulo{
    width: 90%;
    margin: 5px 10px 5px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* --- BOTAO --- */
  
.header-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    background: #ac8852;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-top: 40px;
}

.header_button:hover {
    background-color: #bba687;
    color: #ffffff;
    transition: background-color .5s;
}

/*********** HEADER   *********/



/* SECAO Maravilhosa */
.maravilhosa{
    background-color: #965a32d7;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 25px;
}

.container-maravilhosa{
    text-align: center;
    padding: 0 5%;
}

.maravilhosa-titulo{
    color: #5c4027;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    padding-top: 40px;
}

.maravilhosa-boxBorder{
    border: 1px solid #302315;
    margin: 42px;

}

.boxBorder-texto{
    margin: 30px;
    color: #000000;
    text-align: center;
}

.container-suaHistoria{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #674582;
   
}

.suaHistoria-imagem{
    width: 80%;
    margin-bottom: 30px;
}

.suaHistoria-texto{
    width: 100%;
}

.suaHistoria-titulo{
    color: #3b1d0d;
    padding-bottom: 10px;
}

.suaHistoria-paragrafo{
padding-bottom: 10px;

}

/* AUTORA */
.autora{
    background-color: #916446d7;
    align-items: center;
    width: 100%;
    height: 600px;
    margin-top: 60px;
    padding: 60px;
}

.autora-titulo{
    text-align: center;
    color: #492b16d7;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 30px;
}

.autora-sobre{
    display: flex;
}

.autora-imagem{
    width: 20%;
    border-radius: 50%;
    margin-right: 35px;
}


/* SECAO Recado */



/* FOOTER */
.footer{
    background: #6e5530;
    color:#f3f3f3;

}

.footer-menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 10px 60px;
    font-size: 1.4rem;
    padding: 30px;
}

.footer-links{
    display: block;
    text-align: center;
    list-style: none;
}

.footer-cc{
background: #4e3725;
display: flex;
align-items: center;
justify-content: center;
padding: 20px;

}

/* MEDIA QUERY */
@media (min-width:768px){
    .container-header{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header-maravilhosa-img{
        width: 100%;
        height: 350px;
        margin-bottom: 180px;
        margin-left: 8px;
    }
}

